section{
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

.mt-comment>.mt-comment-img>img{
  width: 40px !important;
  height: 40px !important;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-author{
	margin-bottom: 2px !important;
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details{
	margin-top: 5px !important;
}

/* 开心一刻样式 */
.tiles .tile.double{
	width: 267px !important;
}

.tiles .tile>.tile-body>h4>div{
	overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    height: 20px !important;
}
.tiles .tile>.tile-body>div{
	max-height: 60px !important;
	overflow-x: scroll !important;
}
.tiles .tile>.tile-object>.number>i{
	margin-right: 3px !important;
}
